/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 1%;
  float: left; }

.container .header {
  width: 100%;
  height: 80px;
  background-color: gray; }

.header .logo {
  width: 20%;
  background-color: black;
  color: white;
  font-size: 24px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  height: 50px;
  float: left; }

.header .menu {
  background-color: gray;
  float: left;
  height: 80px; }

.header .menu ul li {
  background-color: black; }

.menu ul li {
  display: inline-block;
  margin: 0px;
  margin-top: 56px;
  margin-bottom: 0px;
  padding: 4px;
  float: left; }

.menu a {
  color: white;
  text-decoration: none; }

.container .content {
  /* float: left; */
  width: 100%;
  margin-top: 10px;
  clear: left; }

.content h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px; }

.singleColumn, .doubleColumn {
  margin-top: 10px;
  background-color: #333333;
  padding-bottom: 20px;
  clear: left;
  min-height: 300px; }

.content .textBox {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
  text-align: center; }

.singleColumn .textBox {
  margin-left: 10%;
  width: 80%; }

.doubleColumn .textBox {
  margin-left: 10%;
  width: 80%; }

.footer {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  float: left;
  background-color: #333333;
  margin-top: 10px; }

.footer a, .footer p {
  color: white;
  padding: 10px; }

.footer .social {
  width: 100%;
  min-width: 320px;
  /* background-color: green; */
  height: 100px;
  float: left; }

@media screen and (min-width: 640px) {
  .header .logo {
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    height: 50px; }

  .menu ul li {
    margin: 5px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 12px; }

  .content h1 {
    padding-top: 24px;
    font-size: 30px; }

  .doubleColumn .textBox {
    float: left;
    margin-left: 10%;
    width: 35%; }

  .footer .social {
    width: 50%;
    min-width: 320px;
    height: 100px;
    float: left; }

  .footer .menu {
    float: none; } }
@media screen and (min-width: 1024px) {
  .header .logo {
    font-size: 36px;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    height: 50px; }

  .menu ul li {
    margin: 10px;
    margin-top: 40px;
    padding: 12px; }

  .content h1 {
    padding-top: 30px;
    font-size: 36px; }

  .footer .social {
    width: 20%;
    min-width: 320px;
    height: 100px;
    float: left; }

  .footer .menu {
    float: left; } }

/*# sourceMappingURL=style.css.map */
